/* Les couleurs utilisées sont le blanc : #FFFFFF et le noir #000000*/
.first{
    width: auto;
    height: auto;
    background-image: url("./../img/header.jpg" ) ;
    background-position: center;
    color: #ffffff;
}

header img{
    height:100px;
    width:100px;
    text-align: center;
    
}
.article{
    font-family: oswald;
    margin: 48px 0px;
    text-align: center;
}
p{
    font-family: oswald;
    margin: 24px 0px;
}

.col{
    margin-bottom: 15px;
}
.link ul li::marker {
    list-style: none;
}
 i{
    font-size: 4.3rem;
    margin: 0px 15px ;
  }