/* Les couleurs utilisées sont le blanc : #FFFFFF et le noir #000000*/
.first{
    width: auto;
    height: auto;
    background-image: url("./../img/header.jpg" ) ;
    background-position: center;
    color: #ffffff;
}

header img{
    height:100px;
    width:100px;
    text-align: center;
    
}

.navbrand{

}

.col{
    margin-bottom: 15px;
}